<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
</head>
<body>
	<div class="box">
		<form autocomplete="off">
			<h2>Project Manager</h2>
			<div class="inputBox">
				<input type="text" required="required">
				<span>How Many Days Do You Want?</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="date" required="required">
				<span>When you can start the project?</span>
				<i></i>
			</div>
			<!-- <div class="links">
				<a href="#">Forgot Password ?</a>
				<a href="#">Signup</a>
			</div> -->
			<input type="submit" value="SUBMIT">
		</form>
	</div>
</body>
</html>